/* title and button */
#ao_title_and_button:after {content:''; display:block; clear:both;}
#ao_adv_button{float:right;}
#ao_hide_adv:before, #ao_show_adv:before {
  display: inline-block;
  float: left;
  height: 20px;
  width: 35px;
  background: none;
  color: #b4b9be;
  font: normal 20px/26px dashicons;
  letter-spacing: -4px;
  text-align: left;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#ao_hide_adv:before {
  content: "\f108 \f142";
}
#ao_show_adv:before {
  content: "\f108 \f140";
}

/* animate "show adv" button */
#ao_show_adv { animation: watchmenow 3s linear 5s 10; }
#ao_show_adv:hover { animation: none; }
@keyframes watchmenow {
  0% { box-shadow: unset; }
  100% { box-shadow: 0px 0px 20px yellow; }
}

/* form */
.itemDetail {
  background: #fff;
  border: 1px solid #ccc;
  padding: 15px;
  margin: 15px 10px 10px 0;
  word-break: break-all;
}
.itemTitle {
  margin-top: 0;
}
.form-table.debug th,
.form-table.debug td {
  padding: 5px 10px;
}
input[type=url]:invalid {color: red; border-color:red;} .form-table th{font-weight:100;}
#autoptimize_main .cb_label {display: block; padding-left: 25px; text-indent: -25px;}

/* rss block */
#futtta_feed ul{list-style:outside;}
#futtta_feed {font-size:medium; margin:0px 20px;} 

/* banner + unslider */
.autoptimize_banner {
  margin: 0 38px;
  padding-bottom: 5px;
}
.autoptimize_banner ul li {
  font-size:medium;
  text-align:center;
}
.unslider {
  position:relative;
}
.unslider-arrow {
  display: block;
  left: unset;
  margin-top: -35px;
  margin-left: 7px;
  margin-right: 7px;
  border-radius: 32px;
  background: rgba(0, 0, 0, 0.10) no-repeat 50% 50%;
  color: rgba(255, 255, 255, 0.8);
  font: normal 20px/1 dashicons;
  speak: none;
  padding: 3px 2px 3px 4px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.unslider-arrow:hover {
  background-color: rgba(0, 0, 0, 0.20);
  color: #FFF;
}
.unslider-arrow.prev {
  padding: 3px 4px 3px 2px;
}
.unslider-arrow.next {
  right: 0px;
}
.unslider-arrow.prev::before {
  content: "\f341";
}
.unslider-arrow.next::before {
  content: "\f345";
}
/* responsive stuff: hide admin-feed on smaller screens */
@media (min-width: 961px) {
  #autoptimize_main {float:left;width:69%;}
  #autoptimize_admin_feed{float:right;width:30%;display:block !important;}
}
@media (max-width: 960px) {
  #autoptimize_main {width:100%;}
  #autoptimize_admin_feed {width:0%;display:none !important;}
}
@media (max-width: 782px) {
  #ao_hide_adv span, #ao_show_adv span {display: none;}
  #ao_hide_adv,#ao_show_adv {height: 34px;padding: 4px 12px 8px 8px;}
  #ao_hide_adv:before,#ao_show_adv:before {font-size: 25px;}
  #autoptimize_main input[type="checkbox"] {margin-left: 10px;}
  #autoptimize_main .cb_label {display: block; padding-left: 45px; text-indent: -45px;}
}